header {
    height: 100px;
    margin:auto;
    width: 960px;
    background : #666;
}
#logo{
    float:left;
}
header h1{
    font-family: ;
    font-size: 35px;
}
header nav{
    display:inline;
    float:left;
}

header p{
    font-size: 12px;

}

    
   

body{
   
}
h2{
    font-size: 30px;
    
}